.u-section-1 .u-sheet-1 {
  min-height: 385px;
}

.u-section-1 .u-text-1 {
  font-size: 4.52174rem;
  letter-spacing: -10px;
  margin: 43px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 900;
  margin: 0 -11px 16px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    letter-spacing: -5px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.26087rem;
    margin-top: 44px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.73913rem;
    margin-bottom: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 42px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.26087rem;
    margin-bottom: 42px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 894px;
}

.u-section-2 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.26087rem;
  line-height: 1.4;
  width: 845px;
  margin: -113px auto -35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-left: -7px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: -79px 0 16px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1455px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 24px;
    margin-left: -7px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.869565rem;
    margin: -67px -7px -7px 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 385px;
}

.u-section-3 .u-text-1 {
  font-size: 4.52174rem;
  letter-spacing: -10px;
  margin: 43px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 6rem;
  font-weight: 900;
  margin: 0 -11px 16px 11px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    letter-spacing: -5px;
    width: auto;
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.26087rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 3.73913rem;
    width: auto;
    margin-bottom: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.26087rem;
    margin-bottom: 1px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 277px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  font-size: 1rem;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-4 .u-text-1 {
    margin-bottom: 21px;
    font-size: 0.608696rem;
    margin-top: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-4 .u-text-1 {
    margin-bottom: 0;
  }

  /* --- Стили для моей картинки с капитаном --- */

.center-container {
    text-align: center;
    width: 100%;
    padding-top: 20px;   /* Отступ сверху от цифры */
    padding-bottom: 40px; /* Отступ снизу */
}

.main-image {
    display: block;
    margin: 0 auto;
    max-width: 800px; /* Ширина картинки */
    width: 90%;       /* Чтобы на мобильных не вылезала за края */
    height: auto;
}